# Excluded project configurations
.idea/workspace.xml
.idea/misc.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqldialects.xml
.idea/dataSources
.idea/dictionaries
.idea/libraries
.idea/dbnavigator.xml
.idea/fileTemplates/includes/File Header.java

# Gradle folders
.gradle

# Build folders
build/
out/

# Temporary files
.*~
