.text-area {
    -fx-font-family: Monotype;
    -fx-text-fill: #BABABA;
    -fx-display-caret: true;
}

.text-area .content {
    -fx-background-color: #2B2B2B;
}

.greenBg {
    -fx-background-color: #c8eec6;
}

.greenBg:hover {
    -fx-background-color: #c8eec6;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-alignment: center;
}

.redBg {
    -fx-background-color: #e0b29b;
}

.redBg:hover {
    -fx-background-color: #e0b29b;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-alignment: center;
}

.busy {
    -fx-background-color: #B3B3B3;
    -fx-text-alignment: center;
}

.busy:hover {
    -fx-background-color: #cdcbcb;
    -fx-text-alignment: center;
}

.green-bar {
    -fx-accent: green;
}

.yellow-bar {
    -fx-accent: yellow;
}

.orange-bar {
    -fx-accent: orange;
}

.red-bar {
    -fx-accent: red;
}